In [1]:
from sklearn.model_selection import train_test_split as ts
from sklearn.linear_model import LogisticRegression #the model we will use
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score #checks accuracy of our model

In [3]:
#read the csv file
csv = pd.read_csv('../archive/creditcard.csv')

In [4]:
#read the first 5 rows of the data to see what is contained in the csv
csv.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
#checking the last five transactions
csv.tail()
#Time is the seconds of transaction after first transaction
#class 0 means fraudulent, 1 means non-fraudulent

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [6]:
#checking the information of the dataset
csv.info()
#we have gotten the info, how many nulls and the data types

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
#can check for nulls
csv.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
#checking the distribution of the 0s and 1s
csv['Class'].value_counts()
#we have gotten the distribution of both the good and bad transactions
#the distribution is unbalanced and cannot train these data to the model
#if we do so, any transaction done might come out non-fraudulent

Class
0    284315
1       492
Name: count, dtype: int64

In [9]:
#seperate the data of 0s and 1s
fraud = csv[csv.Class == 1]
legit = csv[csv.Class == 0]

In [10]:
#get the shape, rows and cols
print(fraud.shape)
print(legit.shape)

(492, 31)
(284315, 31)

In [11]:
#statistical data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [12]:
fraud.Amount.describe()
#the mean of the fraud is way larger that the mean of legit

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [13]:
#we compare both the means
csv.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [14]:
#Build a similar dataset of the legit and fraudulent transaction to help in training
#this will make the data set uniform and balanced
fraud_count = len(csv[csv['Class'] == 1])
print(fraud_count)

492

In [15]:
#we get a random sample of non-fraudulent
legit_sample = legit.sample(n = fraud_count)

In [16]:
#we concatnate the 2 data frames
new_dataset = pd.concat([legit_sample, fraud], axis=0)
#axis 0 mean rows axis 1 mean cols

In [17]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
119865,75613.0,-1.257191,-0.084453,1.074338,-1.631522,-0.967802,-0.062288,0.520974,0.440828,-1.631645,...,0.277500,0.296729,0.008389,-0.037224,0.808570,-0.226931,-0.170028,-0.024832,187.83,0
59548,48889.0,1.379418,-0.537927,1.029197,-0.645639,-1.371198,-0.693683,-0.922679,-0.151670,-0.632252,...,0.398088,1.184997,-0.118864,0.483771,0.480370,-0.054717,0.048015,0.028938,9.99,0
102749,68346.0,1.132982,0.080022,1.250013,1.332129,-0.651674,0.228765,-0.560756,0.138073,0.532836,...,0.162332,0.747673,-0.069296,0.122646,0.474855,-0.216016,0.093040,0.034243,1.00,0
140383,83690.0,0.849515,0.308459,0.985931,3.615815,0.627809,2.539725,-0.479562,0.813746,-1.018342,...,0.076282,0.428307,0.060176,-1.021342,0.205449,0.154799,0.072105,0.002667,20.85,0
62535,50309.0,1.180882,0.092423,0.890529,2.342626,-0.027141,1.396433,-0.741224,0.456870,0.371863,...,-0.163881,-0.329314,-0.084132,-1.357349,0.374111,0.076667,0.050288,0.015727,0.00,0

In [18]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [19]:
#get the new count
new_dataset.Class.value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [20]:
#compare with the new balanced dataset to see the differences
new_dataset.groupby('Class').mean()
#the new difference shows that the nature of the two does not change, the fraud is still more

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94362.569106,0.004681,-0.058436,-0.076795,-0.018552,0.017043,0.048728,0.001654,0.001387,0.046541,...,0.057248,0.012953,-0.043220,-0.034156,-0.003929,0.011143,-0.052044,0.035615,-0.012192,105.288780
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [21]:
#splitting the data set into features and targets
#features are the data that contribute to the decision of whether a transaction is fraud or legit
#targets is data that we aim to attain with the features
x = new_dataset.drop(columns='Class', axis=1)#remove target we get features
y = new_dataset['Class']#target

In [22]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
119865   75613.0 -1.257191 -0.084453  1.074338 -1.631522 -0.967802 -0.062288
59548    48889.0  1.379418 -0.537927  1.029197 -0.645639 -1.371198 -0.693683
102749   68346.0  1.132982  0.080022  1.250013  1.332129 -0.651674  0.228765
140383   83690.0  0.849515  0.308459  0.985931  3.615815  0.627809  2.539725
62535    50309.0  1.180882  0.092423  0.890529  2.342626 -0.027141  1.396433
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
119865  0.520974  0.440828 -1.631645  ...  0.354798  0.277500  0.296729
59548  -0.922679 -0.151670 -0.632252  ...  0.186022  0.398088  1.184997
102749 -0.560756  0.138073  0.532836  ... -0.099186  0.162332  0.747673
140383 -0.479562  0.813746 -1.018342  ... -0.299194  0.076282  0.428307
62535  -0.741224  0.456870  0.371863  ... -0.221796 -0.163881 -0.329314
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
119865  0.008389 -0.037224  0.808570 -0.226931 -0.170028 -0.024832  187.83
59548  -0.118864  0.483771  0.480370 -0.054717  0.048015  0.028938    9.99
102749 -0.069296  0.122646  0.474855 -0.216016  0.093040  0.034243    1.00
140383  0.060176 -1.021342  0.205449  0.154799  0.072105  0.002667   20.85
62535  -0.084132 -1.357349  0.374111  0.076667  0.050288  0.015727    0.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [23]:
print(y)

119865    0
59548     0
102749    0
140383    0
62535     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [24]:
#we need to split the data into training and testing data
x_train, x_test, y_train, y_test = ts(x,y,test_size=0.2,stratify=y, random_state=2)
#the train test split randomly splits the data into training set and testing set and store them into corresponding variables
# test size just means how much data to be used in test group
#stratify just shows which data set is the creteria for the random split
#random state is how many time you want to split this data

In [25]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

In [26]:
model = LogisticRegression()
#loading model

In [27]:
#training the model
model.fit(x_train, y_train)

LogisticRegression()

In [28]:
#evaluate the model according to the accuracy score
#accuracy on training data
x_train_prediction = model.predict(x_train)
x_train_score = accuracy_score(x_train_prediction, y_train)
#print the score
print(x_train_score)

0.9301143583227446

In [29]:
#accuracy on test data
x_test_prediction = model.predict(x_test)
x_test_score = accuracy_score(x_test_prediction, y_test)
print(x_test_score)

0.8883248730964467

In [38]:
csv2 = pd.read_csv('./archive/Book1.csv')

In [39]:
csv2.shape

(1, 31)

In [40]:
x2 = csv2.drop(columns='Class', axis=1)

In [41]:
model.predict(x2)

array([1], dtype=int64)